* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; 
    line-height: 1.6;
    color: #000000; 
}

header {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: auto;  
}

header {
    border-bottom: 1px solid #e0e0e0; 
}


details {
    position: static;
    margin-left: auto; 
    margin-right: 50px;
}


summary {
    background-color: #f5f5f5; 
    list-style: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #000000; 
    border: 1px solid #e0e0e0; 
    border-radius: 6px;
    transition: all 0.3s ease;
    
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\2630';
    font-size: 30px;
}

details[open] summary::before {
    content: '\2715';
}

details[open] summary {
    background-color: #f5f5f5;
}

details[open] summary:hover {
    background-color: #e0e0e0; 
}


.menua {
    background-color: #ffffff;
    padding: 15px 0px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    margin-top: -25px;
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.menua li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    
}

.menua li a {
    text-decoration: none;
    color: #000000; 
    border-radius: 4px;
    padding: 8px 16px;
    display: block;
    transition: all 0.3s ease;
    font-size: 20px;
}

.menua li a:hover {
    color: #000000; 
    background-color: #dadada; 
}

summary:hover {
    background-color: #e0e0e0; 
}
.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.carrito img{
    width: 40px;
    color: #000000; 
}




.seccion-carrusel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.carrusel-imagenes {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.imagen {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen h1 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.4);
    padding: 15px 30px;
}



.seccion-novedades {
    max-width: 1200px;
    margin: 0 auto;    
    padding-bottom: 60px;
}

.seccion-novedades h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.lista-productos {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;       
    justify-content: center;
}

.producto {
    width: 30%; 
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255); 
    padding: 15px;    
}

.imagen-ropa {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: #eeeeee;
}

.datos-producto h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.precio {
    font-size: 16px;
    margin-bottom: 15px;
}

.boton-detalles {
    border: none;
    padding: 12px 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}





.footer2 {
    background-color: #343331;
    padding: 40px 30px;
    border-top: 1px solid #333333; 
    color: #cccccc; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


.logo img {
    height: 100px;
    margin-bottom: 10px;
}


.logos ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.logos img {
    height: 20px;
}

.logos a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #222222;
    border-radius: 10px;
}

.logos img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

summary, .logos a {
    border: 1px solid #e0e0e0;
}









