* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; 
    line-height: 1.6;
    color: #000000; 
}

header {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: auto;  
}

header {
    border-bottom: 1px solid #e0e0e0; 
}


details {
    position: static;
    margin-left: auto; 
    margin-right: 50px;
}


summary {
    background-color: #f5f5f5; 
    list-style: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #000000; 
    border: 1px solid #e0e0e0; 
    border-radius: 6px;
    transition: all 0.3s ease;
    
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\2630';
    font-size: 30px;
}

details[open] summary::before {
    content: '\2715';
}

details[open] summary {
    background-color: #f5f5f5;
}

details[open] summary:hover {
    background-color: #e0e0e0; 
}


.menua {
    background-color: #ffffff;
    padding: 15px 0px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    margin-top: -25px;
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.menua li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    
}

.menua li a {
    text-decoration: none;
    color: #000000; 
    border-radius: 4px;
    padding: 8px 16px;
    display: block;
    transition: all 0.3s ease;
    font-size: 20px;
}

.menua li a:hover {
    color: #000000; 
    background-color: #dadada; 
}

summary:hover {
    background-color: #e0e0e0; 
}
.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.carrito img{
    width: 40px;
    color: #000000; 
}



main {
    background-color: #f5f5f5; 
    color: #333;
    padding-bottom: 50px;
    
}


.banner {
    background-color: #6a8596; 
    color: white;
    text-align: center;
    padding: 60px;
    margin-bottom: 40px;
}

.banner h1 {
    font-size: 3rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.banner p {
    font-size: 1.2rem;
    font-weight: 300;
}


.info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 70px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #000;
}


.historia-texto{
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
    line-height: 1.6;
}


.balioak {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor{
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.icono { 
    font-size: 3rem; 
    margin-bottom: 10px; 
}
.carrito span {
    font-size: 20px;
}
.contenedor h3 { 
    font-size: 1.1rem; 
    margin-bottom: 5px; 
}
.contenedor p { 
    font-size: 0.9rem; 
}


.equipo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.emoji{
    width: 140px;
    height: 140px;
    background-color: #e0e0e0; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}




.formulario {
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    text-align: left;
}


.contacto {
    flex: 1;
    padding: 40px;
}

.contacto ul {
    list-style: none;
    margin-bottom: 30px;
}

.contacto li { 
    margin-bottom: 15px; 
}



.columna-form {
    flex: 1;
    padding: 40px;
}

.columna-form input, .columna-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.columna-form button {
    background-color: #333;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}




.footer2 {
    background-color: #343331;
    padding: 40px 30px;
    border-top: 1px solid #333333; 
    color: #cccccc; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


.logo img {
    height: 100px;
    margin-bottom: 10px;
}


.logos ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.logos img {
    height: 20px;
}

.logos a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #222222;
    border-radius: 10px;
}

.logos img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

summary, .logos a {
    border: 1px solid #e0e0e0;
}

.oharlegalak a {
    color: white;
    justify-content: center;
    display: block;
}








