
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; 
    line-height: 1.6;
    color: #000000; 
}

header {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
    border-bottom: 1px solid #e0e0e0; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: auto;  
}

details {
    position: static;
    margin-left: auto; 
    margin-right: 50px;
}

summary {
    background-color: #f5f5f5; 
    list-style: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #000000; 
    border: 1px solid #e0e0e0; 
    border-radius: 6px;
    transition: all 0.3s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\2630';
    font-size: 30px;
}

details[open] summary::before {
    content: '\2715';
}

details[open] summary {
    background-color: #f5f5f5;
}

details[open] summary:hover, summary:hover {
    background-color: #e0e0e0; 
}

.menua {
    background-color: #ffffff;
    padding: 15px 0px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    margin-top: -25px;
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 100;
}

.menua li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.menua li a {
    text-decoration: none;
    color: #000000; 
    border-radius: 4px;
    padding: 8px 16px;
    display: block;
    transition: all 0.3s ease;
    font-size: 20px;
}

.menua li a:hover {
    color: #000000; 
    background-color: #dadada; 
}

.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.carrito img {
    width: 40px;
    color: #000000; 
}
.carrito span {
    font-size: 20px;
}


h1 {
    text-align: center;
    color: #000000; 
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px; 
    font-weight: 700;
}

.imagen-horizontal{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.botones{
    text-align: center;
    margin-bottom: 50px;
}


.boton {
    padding: 12px 28px;
    margin: 0 10px;
    background-color: #444444; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #000000;
    transform: translateY(-2px); 
}


.produktuen-eremua {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#produktuenZerrenda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}


.produktu-txartela {
    background: rgb(255, 255, 255);
    border-radius: 12px; 
    padding: 20px;
    width: 300px;
    box-shadow: 0 1px 15px rgba(0,0,0,0.5); 
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s; 
    
}


.produktu-txartela:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 30px rgba(0,0,0,1); 
}

.produktu-txartela img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
}

.produktu-txartela h3 {
    color: #222222;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.produktu-txartela .prezioa {
    font-size: 16px;
    margin-bottom: 15px;
}


.produktu-txartela button {
    border: none;
    padding: 12px 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #cfcfcf;
}

.produktu-txartela button:hover {
    background-color: #424242;
    color: white;
}


.footer2 {
    background-color: #343331;
    padding: 40px 30px;
    border-top: 1px solid #333333; 
    color: #cccccc; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.logo img {
    height: 100px;
    margin-bottom: 10px;
}

.logos ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.logos img {
    height: 20px;
}

.logos a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #222222;
    border-radius: 10px;
}

.logos img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

summary, .logos a {
    border: 1px solid #e0e0e0;
}
.oharlegalak a {
    color: white;
    justify-content: center;
    display: block;
}
